# Use US layout with US variant
KEYMAPOPTS="us us"

# Set hostname
HOSTNAMEOPTS="{{ box_hostname }}"

# Set device manager to mdev
DEVDOPTS=mdevd

# Contents of /etc/network/interfaces
INTERFACESOPTS="auto lo
iface lo inet loopback

auto {{ box_net_iface }}
iface {{ box_net_iface }} inet dhcp
"

# Search domain of example.com, Google public nameserver
# DNSOPTS="-d example.com 8.8.8.8"

# Set timezone to UTC
TIMEZONEOPTS="{{ box_timezone }}"

# set http/ftp proxy
PROXYOPTS=none

# Add first mirror (CDN)
APKREPOSOPTS="-1"

# Create admin user
USEROPTS="-a -u -g audio,video,netdev,wheel {{ box_username }}"
USERSSHKEY="{{ box_ssh_key }}"

# Install Openssh
SSHDOPTS=openssh
ROOTSSHKEY="{{ box_ssh_key }}"

# Use openntpd
NTPOPTS="openntpd"

# Setup filesystem on mounted path
DISKOPTS="-m sys -s 0 {{ box_root_mount }}"
