bindPort = 7000
tcpmuxHTTPConnectPort = 3912

allowPorts = [
  { single = 22 },
  { single = 80 },
  { single = 443 },
]

auth.token = "{{ frps_auth_token }}"

webServer.addr = "0.0.0.0"
webServer.port = 7500
webServer.user = "{{ frps_webserver_user }}"
webServer.password = "{{ frps_webserver_password }}"
